<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <ul v-if="names.length">
        <li v-for="item in names">{{item}}</li>
      </ul>
      <div v-else>names没有数据</div>
    </div>

    <script src="../lib/vue.js"></script>
    <script>
      const app = Vue.createApp({
        data() {
          return {
            // names: ['abc', 'cba', 'nba'],
            names: [],
          };
        },
      });
      app.mount('#app');
    </script>
  </body>
</html>
